<li class="nav-item">
  <span class="nav-link">
    <%= link_to image_tag("like.png", :alt => "Like", :width => '20', title: 'Likes'), '#' %>
  </span> 
</li>
<li class="nav-item ml-2">
  <span class="nav-link">
    <% if post.liked_by_users.count == 1 %>
      <%= post.liked_by_users.include?(current_user) ? 'You' :  post.liked_by_users.first.name %>
    <% elsif post.liked_by_users.count > 1 %>
      <%= post.liked_by_users.include?(current_user) ? 'You' : post.liked_by_users.first.name %> and <%= pluralize(post.liked_by_users.count - 1, 'other') %>
    <% end %>
  </span>
</li>